.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
 }

 .features h3 {
    width: 100%;
    
}

.features img {
    width: 75%;
    object-fit:contain;
    max-height: 125px;
}


.boton{   
     display: flex;
    justify-content: center;

}
.botonFeatures{

    background-color: orangered;
    color: white;
}