/*selector universal*/

* {
  margin: 0;
}

#hero .btn-explore {
  color: white;
  background: #ff3e1e;
}

#hero .btn-documentation {
  color: #ff3e1e;
  background-color: #f7d4c9;
}

.btn-buy {
  color: white;
  background: #ff3e1e;
}

.btn-buy:hover {
  background-color: #ff6833;
  color: white;
}

.tarjeta {
  border: 1px solid #b5b5b5;
  height: 100%;
}

.tarjeta img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  background-color: white;
}

.tarjeta .footer-tarjeta {
  display: flex;
  align-items: center;
  border-top: 1px solid #777;
  padding: 8px 12px;
}

.tarjeta .main-text {
  padding: 8px 12px;
}
